#id {
  width: 100%;
  background-color: #f6f5f4;
}

.all {
  width: 100%;
  display: flex;
}

.top {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  background-color: orange;
  height: 150px;
}

#h1 {
  position: relative;
  left: 20px;
}

.add_update {
  width: 100%;
  display: flex;
}

.add {
  width: 30%;
}

.update {
  width: 30%;
}

.input {
  border-radius: 10px;
  height: 30px;
  text-align: center;
  position: relative;
  left: 20px;
  background-color: lightgray;
}

.btn {
  /* padding: 1rem 4rem; */
  border: 2px solid #ff4f02;
  text-align: center;
  text-decoration: none;
  font-weight: bold;
  border-radius: 100vh;
  position: relative;
  background-color: #ff8856;
  left: 20px;
  height: 30px;
}

.btn:hover {
  color: #ff4f02;
  background: #fff;
}

.sumComic {
  width: 50%;
  display: flex;
}

#sum_btn {
  bottom: -40px;
}

#side_top {
  text-align: center;
}

.side {
  background-color: #ff838b;
  width: 30%;
}

a.netShop {
  display: block;
  text-align: center;
  text-decoration: none;
  width: 120px;
  margin: auto;
  padding: 1rem 4rem;
  font-weight: bold;
  border: 2px solid #27acd9;
  background: #27acd9;
  color: #fff;
  border-radius: 100vh;
  transition: 0.5s;
}

a.netShop:hover {
  color: #27acd9;
  background: #fff;
}

#main_top {
  text-align: center;
}

.main {
  width: 70%;
  background-color: #b3d874;
  /* overflow-y: auto; */
}

ul {
  width: 100%;
  height: 70%;
  flex-wrap: wrap;
  display: flex;
}

li {
  list-style: none;
  width: 50%;
  height: 80px;
}
